N8N_WEBHOOK_URL=https://test-n8n.thenextwilson.ai/webhook/send-message
BACKEND_URL=http://localhost:3001/api
API_ID=849275af-7f1d-4b86-92c9-c92c1b8d39fd
PORT=3001
BOTPRESS_BOT_ID=73dfb145-f1c3-451f-b7c8-ed463a9dd155
BOTPRESS_WORKSPACE_ID=wkspace_01JV4D1D6V3ZZFWVDZJ8PYECET
BOTPRESS_BEARER_TOKEN=bp_pat_AHv8x7iVbfI1a7a8wi8ni6adoURfVT9pMd31
BOTPRESS_KNOWLEDGE_BASE_ID=kb-bfdcb1988f
BOTPRESS_FILES_API_URL=https://api.botpress.cloud/v1/files